<h1 class="text-center"><%= pluralize(@questions.count, "Result") %></h1>

<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>
          <%= sort_link(@query, :description, "Description", default_order:
          :asc) %>
        </th>
        <th>
          <%= sort_link(@query, :user_name, "Users",default_order: :asc) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.description, question %></td>

        <td><%= link_to question.user.name, question.user %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
