<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <% if !current_user %>
      <%= link_to "Get your answer",root_path,class:"navbar-brand",id:"logo" %>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "feed",questions_path,class:"nav-link" %>
          </li>
          <%= render 'user/new_question' %>
        </ul>
    <% else %>
      <%= link_to "Get your answer",questions_path,class:"navbar-brand",id:"logo" %>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%= render 'user/new_question' %>
        </ul>
    <% end %>
      <ul class="navbar-nav">
        <%= render 'search/form' %> <%= render 'user/session_manager' %>
      </ul>
    </div>
  </div>
</nav>
